*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.About-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-heading{
    background: linear-gradient(to right, #00bfff, #00a2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 100px;
    margin-left: 18px;

}

.about-text{
    padding: 10px;
    font-size: 20px;
    width: 75%;
    color: white;
    margin-left: 15px;

}

.images{
    height: 200px;
    width: 200px;
    margin: 25px;
}

.about-images{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}