* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-head{
    background: linear-gradient(to right, #00bfff, #00a2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    position: absolute;
    top: 8px;
    left: 16px;

}


.git-div{
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    margin-top: 70px; 
    position: relative;
}


.project-1, .project-2{
    margin: 10px;
    margin-top: 60px;
    background-color: #00a2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    overflow: hidden;
    position: relative;
    
}

.project1-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    transition: 2s;
    position: absolute;
}

.project-1:hover .project1-body{
    right: 0;
}