.linked-div{
    position: absolute;
    top: 0;
    right: 0;
}

/*All img tags are the same*/
.imgs-1, .imgs-2, .imgs-3{
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.781);
    margin-right: 15px;
    margin-left: 1px;
    max-width: 65px;
    max-height: 65px;
    border-radius: 50%; /* This will make the image circular */
    transition: all 0.3s ease; /* This will add a smooth transition effect */
}

.imgs-1:hover{
    box-shadow: 0 0 15px rgba(41, 221, 110, 0.781); /* This will add a shadow effect */
    transform: rotate(5deg); /* This will rotate the image slightly */  
}

.imgs-2:hover{
    box-shadow: 0 0 15px rgb(255, 3, 3); /* This will add a shadow effect */
    transform: rotate(5deg); /* This will rotate the image slightly */  
}
  
.imgs-3:hover{
    box-shadow: 0 0 15px rgb(255, 91, 214); /* This will add a shadow effect */
    transform: rotate(5deg); /* This will rotate the image slightly */  
}
 
.container{
    margin: auto;
    width: 50%;
    margin-top: 55px;
    text-align: center;
}

.main-h{
    background: linear-gradient(to right, #00bfff, #00a2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
}

.intro{
    margin: auto;
    width: 25%;
    margin-top: 55px;
    text-align: center;
}

.text{
    background: linear-gradient(to right, #00ffd0, #2793d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
